label {
  width: 150px;
}
button{
  width: 30%;
  font-size: 16px;
  margin: 0 auto;
}
input, select {
  margin-bottom: 15px;
}

.ispis {
  font-size: 1.5vw;
  text-align: center;
}

.iznos {
  font-size: 2.5vw;
}

form {
  margin-bottom: 50px;
}
